<p>consume-service works!</p>

<h3>Get list</h3>
@if (getTaskList(); as data) {
  <ul>
    @for (item of data; track item) {
      <li>{{ item.id }} - {{ item.title }} - <button (click)="httpTaskDelete(item.id)">delete</button></li>
    } @empty {
      <li>Sem dados carregados!</li>
    }
  </ul>
} @else {
  <li>Loading....!</li>
}

<h3>Get item id</h3>
@if (getTaskId(); as data) {
  <p>Get por ID: {{ data.id }} - {{ data.title }}</p>
}

<h3>Post create</h3>
<input type="text" #createTitle placeholder="Add value">
<button (click)="httpTaskCreate(createTitle.value)">Create</button>

<h3>Patch update</h3>
<input type="text" #updateId placeholder="Add value">
<input type="text" #updateTitle placeholder="Add value">
<button (click)="httpTaskUpdate(updateId.value, updateTitle.value)">Patch</button>

<!-- {{ getTask$ | async | json }}
{{ getTask$ | async | json }}
{{ getTask$ | async | json }} -->

<app-new />
